# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres

# RabbitMQ Credentials
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# Logto Configuration
LOGTO_ENDPOINT=http://localhost:3001
LOGTO_ADMIN_ENDPOINT=http://localhost:3002
